// custom styles in About and PDFs page

.sponsor-img {
    max-width: 150px;
    border: 1px solid gray;
    border-radius: 20px;
    margin-right: 10px;
}

/* modern browser only */
.hr-twill-colorful {
    border: 0;
    padding: 3px;
    background: linear-gradient(135deg, red, orange,green, blue, purple);
    --mask-image: repeating-linear-gradient(135deg, #000 0px, #000 1px, transparent 1px, transparent 6px);
    -webkit-mask-image: var(--mask-image);
    mask-image: var(--mask-image);
}